*{text-align: center;}
body {background-color: #E5F4F4;}
ul{list-style-type: none;
padding: 0;}
ol{list-style-type: none;
padding: 0;}
h1,h2 {color: #009999;}
.experiencelist {margin-bottom: 20px;}
